*
!.gitignore
!.bashrc
!.bash_profile
!.bash_logout

!.config/

!.config/usr/
!.config/usr/share/
!.config/usr/share/wayland-sessions/
!.config/usr/share/wayland-sessions/sway.desktop

!.config/etc/
!.config/etc/inittab
!.config/etc/ly/
!.config/etc/ly/config.ini

!.local/
!.local/bin
!.local/bin/wofi-bemoji.sh
!.local/bin/wofi-bluetooth.sh
!.local/bin/maimpick.sh
!.local/bin/grim-region.sh
!.local/bin/grim-full.sh
!.local/bin/emergency-shutdown.sh


!.config/mimeapps.list
!.config/user-dirs.dirs

!.config/dunst/
!.config/dunst/dunstrc

!.config/udiskie/
!.config/udiskie/config.yml

!.config/ly/
!.config/ly/config.ini

!.config/alacritty
!.config/alacritty/alacritty.toml

!.config/ranger
!.config/ranger/rc.conf

!.config/sway/
!.config/sway/config
!.config/sway/status.sh

!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/plugins.vim
!.config/nvim/keybinds.vim
!.config/nvim/coc.vim
!.config/nvim/ascii.txt

!.config/wofi
!.config/wofi/style.css

!.config/PrusaSlicer/
!.config/PrusaSlicer/**/*
.config/PrusaSlicer/cache/
