*
!.gitignore
!.bashrc
!.bash_profile

!.config/

!.local/
!.local/bin
!.local/bin/bemoji
!.local/bin/maimpick.sh
!.local/bin/grim-region.sh
!.local/bin/grim-full.sh
!.local/bin/emergency-shutdown.sh


!.config/mimeapps.list
!.config/user-dirs.dirs

!.config/dunst/
!.config/dunst/dunstrc

!.config/alacritty
!.config/alacritty/alacritty.toml

!.config/ranger
!.config/ranger/rc.conf

!.config/sway/
!.config/sway/config
!.config/sway/status.sh

!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/plugins.vim
!.config/nvim/keybinds.vim
!.config/nvim/coc.vim
!.config/nvim/ascii.txt

!.config/wofi
!.config/wofi/style.css

!.config/PrusaSlicer/
!.config/PrusaSlicer/**/*
.config/PrusaSlicer/cache/
