*
!.gitignore
!.bashrc
!.bash_profile

!.config/

!.config/mimeapps.list
!.config/user-dirs.dirs

!.config/alacritty
!.config/alacritty/alacritty.toml

!.config/ranger
!.config/ranger/rc.conf

!.config/sway/
!.config/sway/config
!.config/sway/status.sh

!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/plugins.vim
!.config/nvim/keybinds.vim
!.config/nvim/coc.vim
!.config/nvim/ascii.txt

!.config/wofi
!.config/wofi/style.css
