
window {
margin: 5px;
border: 2px dashed #401b8c;
background-color: #252525;
}

#input {
margin: 5px;
background-color: #2a2a2a;
border: 3px solid #1b1b1b;
border-radius: 0px;
color: #828889;
}

#inner-box {
margin: 4px;
background-color: #2d2c2c;
}

#outer-box {
margin: 5px;
background-color: #252525;
}

#scroll {
margin: 5px;
background-color: #1b1b1b;
}

#text {
margin: 5px;
color: #828889;
}

#entry:selected {
background-color: #242222;
}


